{% load user_filters %}

{% if user.is_authenticated %}
    {% if user != author %}
        <div class="author-subscribe"
             data-author="{{ author.id }}">
            <p style="padding: 0 0 2em 0;">
                {% if author|is_follow:user %}

                    <button class="button button_style_light-blue button_size_auto"
                            name="subscribe">
                        Отписаться от автора
                    </button>

                {% else %}
                    <button class="button button_style_light-blue button_size_subscribe"
                            name="subscribe" data-out>
                        Подписаться на автора
                    </button>

                {% endif %}
            </p>
        </div>
    {% endif %}
{% endif %}