{% load user_filters %}
{% if is_paginated %}
    <nav class="pagination" aria-label="Search results pages">
        <ul class="pagination__container">

            {% if page_obj.has_previous %}
                <li class="pagination__item">
                    <a class="pagination__link link"
                       href="?{% add_tags_to_pagination request 'page' i %}">
                        <span class="icon-left"></span>
                    </a>
                </li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="pagination__item pagination__item_active">
                        <a class="pagination__link link"
                           href="?{% add_tags_to_pagination request 'page' i %}">{{ i }}</a>
                    </li>
                {% elif i >= page_obj.number|add:-4 and i <= page_obj.number|add:4 %}
                    <li class="pagination__item">
                        <a class="pagination__link link"
                           href="?{% add_tags_to_pagination request 'page' i %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="pagination__item">
                    <a class="pagination__link link"
                       href="?{% add_tags_to_pagination request 'page' i %}">
                        <span class="icon-right"></span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}