{% extends 'base.html' %}
{% load user_filters %}
{% load static %}
{% block title %}Рецепты{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}{% static '' %}

{% block content %}
    {% csrf_token %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{% block header %}
                Рецепты{% endblock %}</h1>
            <ul class="tags">
                {% for tag in tags %}
                    <li class="tags__item">
                        <a id="breakfast"
                           class="tags__checkbox tags__checkbox_style_{{ tag.style }}
                           {% if request|is_selected:tag.slug %}
                           tags__checkbox_active
                           {% endif %}"
                           href='?{% tags_links request tag tags %}'></a>
                        <span class="tags__label">{{ tag.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-list">
            {% for recipe in recipes %}
                {% include 'recipes/recipe.html' %}
            {% endfor %}
        </div>
        {% include 'includes/pagination.html' %}
    </main>
{% endblock %}


{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/indexAuth.js' %}"></script>
{% endblock %}
